In [1]:
import pandas as pd
import calendar
import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

In [2]:
categories = [{'id': 1, 'color': '#FF5733', 'is_default': True, 'name': 'Compras', 'description': None, 'icon': 'shoppingBag', 'owner_id': 1, 'subcategories': [{'name': 'Compras', 'description': None, 'is_default': True, 'category_id': 1, 'id': 1, 'icon': 'shoppingBag', 'owner_id': 1}, {'name': 'Bebés, niños', 'description': None, 'is_default': True, 'category_id': 1, 'id': 2, 'icon': 'baby', 'owner_id': 1}, {'name': 'Casa y jardín', 'description': None, 'is_default': True, 'category_id': 1, 'id': 3, 'icon': 'lampDesk', 'owner_id': 1}, {'name': 'Electrónica, accesorios', 'description': None, 'is_default': True, 'category_id': 1, 'id': 4, 'icon': 'laptop2', 'owner_id': 1}, {'name': 'Joyas, accesorios', 'description': None, 'is_default': True, 'category_id': 1, 'id': 5, 'icon': 'gem', 'owner_id': 1}, {'name': 'Mascotas, animales', 'description': None, 'is_default': True, 'category_id': 1, 'id': 6, 'icon': 'cat', 'owner_id': 1}, {'name': 'Papelería, herramientas', 'description': None, 'is_default': True, 'category_id': 1, 'id': 7, 'icon': 'scissors', 'owner_id': 1}, {'name': 'Regalos', 'description': None, 'is_default': True, 'category_id': 1, 'id': 8, 'icon': 'gift', 'owner_id': 1}, {'name': 'Ropa y calzado', 'description': None, 'is_default': True, 'category_id': 1, 'id': 9, 'icon': 'shirt', 'owner_id': 1}, {'name': 'Tiempo libre', 'description': None, 'is_default': True, 'category_id': 1, 'id': 10, 'icon': 'mountain', 'owner_id': 1}, {'name': 'Libros', 'description': None, 'is_default': True, 'category_id': 1, 'id': 11, 'icon': 'book', 'owner_id': 1}]}, {'id': 2, 'color': '#6DDA6B', 'is_default': True, 'name': 'Alimentos y bebidas', 'description': None, 'icon': 'apple', 'owner_id': 1, 'subcategories': [{'name': 'Alimentos y bebidas', 'description': None, 'is_default': True, 'category_id': 2, 'id': 12, 'icon': 'apple', 'owner_id': 1}, {'name': 'Comestibles, despensa', 'description': None, 'is_default': True, 'category_id': 2, 'id': 13, 'icon': 'beef', 'owner_id': 1}, {'name': 'Restaurante, comida rápida', 'description': None, 'is_default': True, 'category_id': 2, 'id': 14, 'icon': 'pizza', 'owner_id': 1}, {'name': 'Café', 'description': None, 'is_default': True, 'category_id': 2, 'id': 15, 'icon': 'coffee', 'owner_id': 1}, {'name': 'Alcohol', 'description': None, 'is_default': True, 'category_id': 2, 'id': 16, 'icon': 'beer', 'owner_id': 1}, {'name': 'Vino', 'description': None, 'is_default': True, 'category_id': 2, 'id': 17, 'icon': 'wine', 'owner_id': 1}]}, {'id': 3, 'color': '#4F4F4F', 'is_default': True, 'name': 'Seguros', 'description': None, 'icon': 'receipt', 'owner_id': 1, 'subcategories': [{'name': 'Seguros', 'description': None, 'is_default': True, 'category_id': 3, 'id': 18, 'icon': 'receipt', 'owner_id': 1}, {'name': 'Hogar', 'description': None, 'is_default': True, 'category_id': 3, 'id': 19, 'icon': 'home', 'owner_id': 1}, {'name': 'Médico', 'description': None, 'is_default': True, 'category_id': 3, 'id': 20, 'icon': 'stethoscope', 'owner_id': 1}, {'name': 'Viaje', 'description': None, 'is_default': True, 'category_id': 3, 'id': 21, 'icon': 'plane', 'owner_id': 1}, {'name': 'Vida', 'description': None, 'is_default': True, 'category_id': 3, 'id': 22, 'icon': 'heart', 'owner_id': 1}, {'name': 'Auto', 'description': None, 'is_default': True, 'category_id': 3, 'id': 23, 'icon': 'car', 'owner_id': 1}, {'name': 'Motocicleta', 'description': None, 'is_default': True, 'category_id': 3, 'id': 24, 'icon': 'bike', 'owner_id': 1}, {'name': 'Mascota', 'description': None, 'is_default': True, 'category_id': 3, 'id': 25, 'icon': 'dog', 'owner_id': 1}]}, {'id': 4, 'color': '#FFC300', 'is_default': True, 'name': 'Vivienda', 'description': None, 'icon': 'home', 'owner_id': 1, 'subcategories': [{'name': 'Vivienda', 'description': None, 'is_default': True, 'category_id': 4, 'id': 26, 'icon': 'home', 'owner_id': 1}, {'name': 'Renta', 'description': None, 'is_default': True, 'category_id': 4, 'id': 27, 'icon': 'dollarSign', 'owner_id': 1}, {'name': 'Mantenimiento, reparaciones', 'description': None, 'is_default': True, 'category_id': 4, 'id': 28, 'icon': 'hammer', 'owner_id': 1}, {'name': 'Servicio doméstico', 'description': None, 'is_default': True, 'category_id': 4, 'id': 29, 'icon': 'personStanding', 'owner_id': 1}, {'name': 'Alarmas y seguridad', 'description': None, 'is_default': True, 'category_id': 4, 'id': 30, 'icon': 'webcam', 'owner_id': 1}]}, {'id': 5, 'color': '#B041FF', 'is_default': True, 'name': 'Vehículos', 'description': None, 'icon': 'car', 'owner_id': 1, 'subcategories': [{'name': 'Vehículos', 'description': None, 'is_default': True, 'category_id': 5, 'id': 31, 'icon': 'car', 'owner_id': 1}, {'name': 'Alquiler', 'description': None, 'is_default': True, 'category_id': 5, 'id': 32, 'icon': 'dollarSign', 'owner_id': 1}, {'name': 'Combustible', 'description': None, 'is_default': True, 'category_id': 5, 'id': 33, 'icon': 'fuel', 'owner_id': 1}, {'name': 'Estacionamiento', 'description': None, 'is_default': True, 'category_id': 5, 'id': 34, 'icon': 'ParkingCircle', 'owner_id': 1}, {'name': 'Mantenimiento', 'description': None, 'is_default': True, 'category_id': 5, 'id': 35, 'icon': 'wrench', 'owner_id': 1}, {'name': 'Compra de vehículo', 'description': None, 'is_default': True, 'category_id': 5, 'id': 36, 'icon': 'store', 'owner_id': 1}]}, {'id': 6, 'color': '#FF9800', 'is_default': True, 'name': 'Vida y entretenimiento', 'description': None, 'icon': 'smile', 'owner_id': 1, 'subcategories': [{'name': 'Vida y entretenimiento', 'description': None, 'is_default': True, 'category_id': 6, 'id': 37, 'icon': 'smile', 'owner_id': 1}, {'name': 'Educación, desarrollo', 'description': None, 'is_default': True, 'category_id': 6, 'id': 38, 'icon': 'graduationCap', 'owner_id': 1}, {'name': 'Pasatiempos', 'description': None, 'is_default': True, 'category_id': 6, 'id': 39, 'icon': 'puzzle', 'owner_id': 1}, {'name': 'Vacaciones, viajes, hoteles', 'description': None, 'is_default': True, 'category_id': 6, 'id': 40, 'icon': 'palmtree', 'owner_id': 1}, {'name': 'Apuestas', 'description': None, 'is_default': True, 'category_id': 6, 'id': 41, 'icon': 'dice5', 'owner_id': 1}, {'name': 'Diversión y celebraciones', 'description': None, 'is_default': True, 'category_id': 6, 'id': 42, 'icon': 'partyPopper', 'owner_id': 1}, {'name': 'Cigarros, tabaco', 'description': None, 'is_default': True, 'category_id': 6, 'id': 43, 'icon': 'cigarette', 'owner_id': 1}, {'name': 'Bienestar, belleza', 'description': None, 'is_default': True, 'category_id': 6, 'id': 44, 'icon': 'sparkles', 'owner_id': 1}, {'name': 'Caridad, regalos', 'description': None, 'is_default': True, 'category_id': 6, 'id': 45, 'icon': 'gift', 'owner_id': 1}, {'name': 'Cultura, arte, eventos deportivos', 'description': None, 'is_default': True, 'category_id': 6, 'id': 46, 'icon': 'flagTriangleRight', 'owner_id': 1}]}, {'id': 7, 'color': '#27AE60', 'is_default': True, 'name': 'Salud y deporte', 'description': None, 'icon': 'activity', 'owner_id': 1, 'subcategories': [{'name': 'Salud y deporte', 'description': None, 'is_default': True, 'category_id': 7, 'id': 47, 'icon': 'activity', 'owner_id': 1}, {'name': 'Deporte, gym', 'description': None, 'is_default': True, 'category_id': 7, 'id': 48, 'icon': 'dumbbell', 'owner_id': 1}, {'name': 'Médico', 'description': None, 'is_default': True, 'category_id': 7, 'id': 49, 'icon': 'stethoscope', 'owner_id': 1}, {'name': 'Farmacia', 'description': None, 'is_default': True, 'category_id': 7, 'id': 50, 'icon': 'pill', 'owner_id': 1}, {'name': 'Optica', 'description': None, 'is_default': True, 'category_id': 7, 'id': 51, 'icon': 'glasses', 'owner_id': 1}, {'name': 'Denstista', 'description': None, 'is_default': True, 'category_id': 7, 'id': 52, 'icon': 'laugh', 'owner_id': 1}]}, {'id': 8, 'color': '#9B59B6', 'is_default': True, 'name': 'Suscripciones y servicios', 'description': None, 'icon': 'cable', 'owner_id': 1, 'subcategories': [{'name': 'Suscripciones y servicios', 'description': None, 'is_default': True, 'category_id': 8, 'id': 53, 'icon': 'cable', 'owner_id': 1}, {'name': 'Compras y servicios online', 'description': None, 'is_default': True, 'category_id': 8, 'id': 54, 'icon': 'shoppingCart', 'owner_id': 1}, {'name': 'Celular', 'description': None, 'is_default': True, 'category_id': 8, 'id': 55, 'icon': 'smartphone', 'owner_id': 1}, {'name': 'Entretenimiento digital', 'description': None, 'is_default': True, 'category_id': 8, 'id': 56, 'icon': 'monitorPlay', 'owner_id': 1}, {'name': 'Internet, televisión, telefonía', 'description': None, 'is_default': True, 'category_id': 8, 'id': 57, 'icon': 'wifi', 'owner_id': 1}, {'name': 'Software, aplicaciones, juegos', 'description': None, 'is_default': True, 'category_id': 8, 'id': 58, 'icon': 'gamepad2', 'owner_id': 1}, {'name': 'Electricidad', 'description': None, 'is_default': True, 'category_id': 8, 'id': 59, 'icon': 'plug2', 'owner_id': 1}, {'name': 'Agua', 'description': None, 'is_default': True, 'category_id': 8, 'id': 60, 'icon': 'droplets', 'owner_id': 1}, {'name': 'Gas', 'description': None, 'is_default': True, 'category_id': 8, 'id': 61, 'icon': 'flame', 'owner_id': 1}]}, {'id': 9, 'color': '#F44336', 'is_default': True, 'name': 'Gastos financieros', 'description': None, 'icon': 'landmark', 'owner_id': 1, 'subcategories': [{'name': 'Gastos financieros', 'description': None, 'is_default': True, 'category_id': 9, 'id': 62, 'icon': 'landmark', 'owner_id': 1}, {'name': 'Asignación familiar', 'description': None, 'is_default': True, 'category_id': 9, 'id': 63, 'icon': 'scanFace', 'owner_id': 1}, {'name': 'Cargos, honorarios', 'description': None, 'is_default': True, 'category_id': 9, 'id': 64, 'icon': 'banknote', 'owner_id': 1}, {'name': 'Asesores, abogados', 'description': None, 'is_default': True, 'category_id': 9, 'id': 65, 'icon': 'scale', 'owner_id': 1}, {'name': 'Impuestos', 'description': None, 'is_default': True, 'category_id': 9, 'id': 66, 'icon': 'badgePercent', 'owner_id': 1}, {'name': 'Multas, licencias', 'description': None, 'is_default': True, 'category_id': 9, 'id': 67, 'icon': 'banknote', 'owner_id': 1}, {'name': 'Préstamos', 'description': None, 'is_default': True, 'category_id': 9, 'id': 68, 'icon': 'wallet', 'owner_id': 1}, {'name': 'Seguro social, salud', 'description': None, 'is_default': True, 'category_id': 9, 'id': 69, 'icon': 'fileHeart', 'owner_id': 1}, {'name': 'Tramites y registro civil', 'description': None, 'is_default': True, 'category_id': 9, 'id': 70, 'icon': 'granttChartSquare', 'owner_id': 1}, {'name': 'Pensión familiar', 'description': None, 'is_default': True, 'category_id': 9, 'id': 71, 'icon': 'contact2', 'owner_id': 1}]}, {'id': 10, 'color': '#3498DB', 'is_default': True, 'name': 'Inversiones', 'description': None, 'icon': 'activity', 'owner_id': 1, 'subcategories': [{'name': 'Inversiones', 'description': None, 'is_default': True, 'category_id': 10, 'id': 72, 'icon': 'activity', 'owner_id': 1}, {'name': 'Ahorros', 'description': None, 'is_default': True, 'category_id': 10, 'id': 73, 'icon': 'piggyBank', 'owner_id': 1}, {'name': 'Bienes raíces', 'description': None, 'is_default': True, 'category_id': 10, 'id': 74, 'icon': 'home', 'owner_id': 1}, {'name': 'Coleccionables', 'description': None, 'is_default': True, 'category_id': 10, 'id': 75, 'icon': 'diamond', 'owner_id': 1}, {'name': 'Inversiones financieras', 'description': None, 'is_default': True, 'category_id': 10, 'id': 76, 'icon': 'candlestickChart', 'owner_id': 1}, {'name': 'Vehículos, propiedades', 'description': None, 'is_default': True, 'category_id': 10, 'id': 77, 'icon': 'warehouse', 'owner_id': 1}]}, {'id': 11, 'color': '#4AAE27', 'is_default': True, 'name': 'Ingresos', 'description': None, 'icon': 'barChart', 'owner_id': 1, 'subcategories': [{'name': 'Ingresos', 'description': None, 'is_default': True, 'category_id': 11, 'id': 78, 'icon': 'barChart', 'owner_id': 1}, {'name': 'Ventas', 'description': None, 'is_default': True, 'category_id': 11, 'id': 79, 'icon': 'badgeDollarSign', 'owner_id': 1}, {'name': 'Salarios', 'description': None, 'is_default': True, 'category_id': 11, 'id': 80, 'icon': 'briefcase', 'owner_id': 1}, {'name': 'Regalos', 'description': None, 'is_default': True, 'category_id': 11, 'id': 81, 'icon': 'gift', 'owner_id': 1}, {'name': 'Devolución impuestos', 'description': None, 'is_default': True, 'category_id': 11, 'id': 82, 'icon': 'building2', 'owner_id': 1}, {'name': 'Rembolsos', 'description': None, 'is_default': True, 'category_id': 11, 'id': 83, 'icon': 'undo2', 'owner_id': 1}, {'name': 'Préstamos', 'description': None, 'is_default': True, 'category_id': 11, 'id': 84, 'icon': 'arrowLeftRight', 'owner_id': 1}, {'name': 'Rentas', 'description': None, 'is_default': True, 'category_id': 11, 'id': 85, 'icon': 'home', 'owner_id': 1}, {'name': 'Lotería, juegos de azar', 'description': None, 'is_default': True, 'category_id': 11, 'id': 86, 'icon': 'dice5', 'owner_id': 1}, {'name': 'Pensiones', 'description': None, 'is_default': True, 'category_id': 11, 'id': 87, 'icon': 'userSquare2', 'owner_id': 1}, {'name': 'Subvenciones y ayudas', 'description': None, 'is_default': True, 'category_id': 11, 'id': 88, 'icon': 'helpingHand', 'owner_id': 1}, {'name': 'Rendimientos, inversiones', 'description': None, 'is_default': True, 'category_id': 11, 'id': 89, 'icon': 'barChart3', 'owner_id': 1}]}]


places = [{'name': 'Sawyer-Johnson', 'is_online': True, 'id': 1, 'owner_id': 1}, {'name': 'Lambert, David and Brooks', 'is_online': False, 'id': 2, 'owner_id': 1}, {'name': 'Doyle-Crawford', 'is_online': True, 'id': 3, 'owner_id': 1}, {'name': 'Mcclure, Thompson and Kelly', 'is_online': False, 'id': 4, 'owner_id': 1}, {'name': 'Moore-Wyatt', 'is_online': False, 'id': 5, 'owner_id': 1}, {'name': 'Wright Group', 'is_online': False, 'id': 6, 'owner_id': 1}, {'name': 'Vazquez Inc', 'is_online': False, 'id': 7, 'owner_id': 1}, {'name': 'Schwartz, Buchanan and Johnson', 'is_online': False, 'id': 8, 'owner_id': 1}, {'name': 'Jenkins Inc', 'is_online': True, 'id': 9, 'owner_id': 1}, {'name': 'Johnson-Banks', 'is_online': True, 'id': 10, 'owner_id': 1}]


accounts = [{'id': 5, 'current_balance': 169015.02999999997, 'total_incomes': 456005.85000000003, 'total_transfers_out': 98836.27, 'name': 'Cook LLC', 'initial_balance': 31792.6, 'total_expenses': 232140.28999999998, 'total_transfers_in': 12193.14, 'owner_id': 1}, {'id': 6, 'current_balance': 273308.62000000005, 'total_incomes': 495334.9000000001, 'total_transfers_out': 18000.059999999998, 'name': 'Moon PLC', 'initial_balance': 49502.23, 'total_expenses': 369327.4, 'total_transfers_in': 115798.95, 'owner_id': 1}, {'id': 8, 'current_balance': 60487.54999999993, 'total_incomes': 734578.27, 'total_transfers_out': 302012.86, 'name': 'Gould and Sons', 'initial_balance': 80218.77, 'total_expenses': 569799.0800000001, 'total_transfers_in': 117502.45000000001, 'owner_id': 1}, {'id': 1, 'current_balance': 192924.40999999997, 'total_incomes': 597175.28, 'total_transfers_out': 116883.87, 'name': 'Bowers, Williams and Farmer', 'initial_balance': 87.61, 'total_expenses': 559033.87, 'total_transfers_in': 271579.26, 'owner_id': 1}, {'id': 9, 'current_balance': 21877.000000000102, 'total_incomes': 576683.57, 'total_transfers_out': 137216.22999999998, 'name': 'Serrano-Garcia', 'initial_balance': 37970.48, 'total_expenses': 572226.87, 'total_transfers_in': 116666.04999999999, 'owner_id': 1}, {'id': 7, 'current_balance': 378619.1200000001, 'total_incomes': 800058.2, 'total_transfers_out': 176201.91999999998, 'name': 'Turner Inc', 'initial_balance': 86066.3, 'total_expenses': 451417.62, 'total_transfers_in': 120114.15999999999, 'owner_id': 1}, {'id': 4, 'current_balance': 177059.62, 'total_incomes': 422111.07000000007, 'total_transfers_out': 182758.97999999998, 'name': 'Byrd-Fernandez', 'initial_balance': 51185.32, 'total_expenses': 469465.0, 'total_transfers_in': 355987.2100000001, 'owner_id': 1}, {'id': 10, 'current_balance': 167521.98999999987, 'total_incomes': 510903.76999999996, 'total_transfers_out': 55750.33, 'name': 'Spencer, Tapia and Campbell', 'initial_balance': 26160.32, 'total_expenses': 500472.76000000007, 'total_transfers_in': 186680.99, 'owner_id': 1}, {'id': 2, 'current_balance': -431364.24, 'total_incomes': 301380.8, 'total_transfers_out': 92706.60999999999, 'name': 'Hunt-Moore', 'initial_balance': 90243.93, 'total_expenses': 842483.5600000002, 'total_transfers_in': 112201.2, 'owner_id': 1}, {'id': 3, 'current_balance': 1200.3400000000183, 'total_incomes': 670541.73, 'total_transfers_out': 249929.4, 'name': 'Smith PLC', 'initial_balance': 94456.4, 'total_expenses': 535441.5099999999, 'total_transfers_in': 21573.12, 'owner_id': 1}]


expenses_past = [{'id': 2, 'amount': 48573.48, 'description': 'Market body despite commercial.', 'account_id': 9, 'subcategory_id': 8, 'date': '2023-01-01', 'owner_id': 1, 'category_id': 10, 'place_id': 3},{'id': 3, 'amount': 300, 'description': 'Market body despite commercial.', 'account_id': 1, 'subcategory_id': 8, 'date': '2022-11-12', 'owner_id': 1, 'category_id': 10, 'place_id': 3}]


# expenses_actual = [{'id': 1, 'amount': 200.23, 'description': 'Say type lot blue night attorney.', 'account_id': 2, 'subcategory_id': 7, 'date': '2022-11-13', 'owner_id': 1, 'category_id': 2, 'place_id': 5}, {'id': 2, 'amount': 100.77, 'description': '', 'account_id': 2, 'subcategory_id': 7, 'date': '2022-11-13', 'owner_id': 1, 'category_id': 2, 'place_id': 5},{'id': 3, 'amount': 800, 'description': '', 'account_id': 1, 'subcategory_id': 7, 'date': '2022-11-13', 'owner_id': 1, 'category_id': 2, 'place_id': 5},{'id': 4, 'amount': 1000, 'description': '', 'account_id': 1, 'subcategory_id': 7, 'date': '2023-01-01', 'owner_id': 1, 'category_id': 2, 'place_id': 5}]

expenses_actual = [{'id': 1, 'amount': 200.23, 'description': 'Say type lot blue night attorney.', 'account_id': 2, 'subcategory_id': 7, 'date': '2024-01-13', 'owner_id': 1, 'category_id': 2, 'place_id': 5}]


incomes_past = []

# incomes_actual = [{'amount': 99666.44, 'date': '2022-11-13', 'owner_id': 1, 'subcategory_id': 10, 'id': 53, 'description': 'Production home painting blue pressure computer lot also.', 'account_id': 1, 'place_id': 3}, {'amount': 89391.73, 'date': '2022-11-13', 'owner_id': 1, 'subcategory_id': 10, 'id': 1, 'description': 'Name success attention look article wife.', 'account_id': 8, 'place_id': 3}, {'amount': 500, 'date': '2022-01-13', 'owner_id': 1, 'subcategory_id': 10, 'id': 321, 'description': 'Name success attention look article wife.', 'account_id': 8, 'place_id': 3}]

incomes_actual = [{'amount': 100, 'date': '2024-01-01', 'owner_id': 1, 'subcategory_id': 10, 'id': 53, 'description': 'Production home painting blue pressure computer lot also.', 'account_id': 1, 'place_id': 3}]

In [3]:
incomes_actual_df = pd.DataFrame(incomes_actual)
incomes_past_df = pd.DataFrame(incomes_past)
expenses_actual_df = pd.DataFrame(expenses_actual)
expenses_past_df = pd.DataFrame(expenses_past)
accounts_df = pd.DataFrame(accounts)
places_df = pd.DataFrame(places)
categories_df = pd.DataFrame(categories)

# Transactions (expenses, incomes, total) by filtered date:
## ⚠️ This does not needs PAST data. ⚠️

- Year should show all months
- Quarter should show months of that quarter
- Month should show the 4 weeks of the month
- Week should show the days of the week
- Date should show the date
- Range should show the days of the range

![Untitled](https://i.imgur.com/gkC7DN2.png)

---

## Year

In [4]:
## Year (Should show all months)

# Category expenses and incomes
expenses_actual_df['type'] = 'expense'
incomes_actual_df['type'] = 'income'

expenses_actual_df['amount'] = -expenses_actual_df['amount']


# Change index to expense/income id
expenses_actual_df.set_index('id', inplace=True)
incomes_actual_df.set_index('id', inplace=True)

# Make df with all months
all_months = pd.DataFrame({'month': calendar.month_name[1:]})

combined_df = pd.concat([expenses_actual_df, incomes_actual_df], ignore_index=True)

In [5]:
# Convert date to datetime and add month column
combined_df['date'] = pd.to_datetime(combined_df['date'])
combined_df['month'] = combined_df['date'].dt.strftime('%B')

# Sort by date
combined_df.sort_values(by='date', inplace=True)

In [ ]:
# Add quarter column (quarter)
combined_df['quarter'] = combined_df['date'].dt.quarter

In [ ]:
# Add day of week column (week)
combined_df['day_of_week'] = combined_df['date'].dt.day_name()

In [ ]:
# Add week number (month)
combined_df['week'] = combined_df['date'].dt.strftime('%W')
combined_df['week'] = combined_df['week'].astype(np.int8)

In [6]:
combined_df.groupby('month', as_index=False)[['amount', 'type']].value_counts()

     month  amount     type  count
0  January -200.23  expense      1
1  January  100.00   income      1

In [21]:
# return as json but without owner_id
combined_df.to_json(orient='records', date_format='iso', date_unit='s')

'[{"amount":100.0,"description":"Production home painting blue pressure computer lot also.","account_id":1,"subcategory_id":10,"date":"2024-01-01T00:00:00","owner_id":1,"category_id":null,"place_id":3,"type":"income","month":"January"},{"amount":-200.23,"description":"Say type lot blue night attorney.","account_id":2,"subcategory_id":7,"date":"2024-01-13T00:00:00","owner_id":1,"category_id":2.0,"place_id":5,"type":"expense","month":"January"}]'

In [7]:
# This is the total
total = all_months.merge(combined_df.groupby('month', as_index=False)['amount'].sum(), on='month', how='left').fillna(0)
total

        month  amount
0     January -100.23
1    February    0.00
2       March    0.00
3       April    0.00
4         May    0.00
5        June    0.00
6        July    0.00
7      August    0.00
8   September    0.00
9     October    0.00
10   November    0.00
11   December    0.00

In [10]:
# Expenses
expenses = all_months.merge(combined_df[combined_df['type'] == 'expense'].groupby('month', as_index=False)['amount'].sum(), on='month', how='left').fillna(0)
expenses['amount'] = expenses['amount'].abs()

expenses

        month  amount
0     January  200.23
1    February    0.00
2       March    0.00
3       April    0.00
4         May    0.00
5        June    0.00
6        July    0.00
7      August    0.00
8   September    0.00
9     October    0.00
10   November    0.00
11   December    0.00

In [8]:
# This is the incomes
incomes = all_months.merge(combined_df[combined_df['type'] == 'income'].groupby('month', as_index=False)['amount'].sum(), on='month', how='left').fillna(0)

incomes

        month  amount
0     January   100.0
1    February     0.0
2       March     0.0
3       April     0.0
4         May     0.0
5        June     0.0
6        July     0.0
7      August     0.0
8   September     0.0
9     October     0.0
10   November     0.0
11   December     0.0

In [11]:
transfers_chart = {
    "series": [
    {
        "name": "Total",
        "data": total['amount'].tolist()
    },
    {
        "name": "Expenses",
        "data": expenses['amount'].tolist()
    },
    {
        "name": "Incomes",
        "data": incomes['amount'].tolist()
    }],
    "xAxis": total['month'].tolist()
}

transfers_chart

{'series': [{'name': 'Total',
   'data': [-100.22999999999999,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.0]},
  {'name': 'Expenses',
   'data': [200.23, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]},
  {'name': 'Incomes',
   'data': [100.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}],
 'xAxis': ['January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December']}

---
## Quarter

In [ ]:
all_months['quarter'] = all_months['month'].map({
    'January': 1, 'February': 1, 'March': 1,
    'April': 2, 'May': 2, 'June': 2,
    'July': 3, 'August': 3, 'September': 3,
    'October': 4, 'November': 4, 'December': 4
})

In [ ]:
all_months

In [ ]:
# This is the total
total_quarter = all_months.merge(combined_df.groupby('month', as_index=False)['amount'].sum(), on='month', how='left')
# Incomes
incomes = all_months.merge(combined_df[combined_df['type'] == 'income'].groupby('month', as_index=False)['amount'].sum(), on='month', how='left')

# Expenses
expenses = all_months.merge(combined_df[combined_df['type'] == 'expense'].groupby('month', as_index=False)['amount'].sum(), on='month', how='left')
expenses['amount'].abs()

In [ ]:
total_quarter

In [ ]:
total_quarter = total_quarter[total_quarter['quarter'] == total_quarter.iloc[0]['quarter']].fillna(0)

In [ ]:
total_quarter

In [ ]:
total_quarter[pd.notna(total_quarter['amount'])].iloc[0]['quarter']

In [ ]:
combined_df.groupby('month', as_index=False)['amount'].sum()

In [ ]:
test = all_months.merge(combined_df.groupby('month', as_index=False)['amount'].sum(), on='month', how='left')

In [ ]:
test.loc[test['quarter'] == combined_df.iloc[0]['quarter']]

In [ ]:
test.loc[test['quarter'] == combined_df.iloc[0]['quarter']] = test.loc[test['quarter'] == combined_df.iloc[0]['quarter']].fillna(0)

In [ ]:
test

In [ ]:
filter_quarter = total_quarter[~pd.isna(total_quarter['amount'])]

transfers_chart_quarter = {
    "series": [
    {
        "name": "Total",
        "data": filter_quarter['amount'].tolist()
    }
    # same with incomes and expenses
    ],
    # add the months that are in the quarter
    "xAxis": filter_quarter['month'].tolist()
}

transfers_chart_quarter

---
## Month

In [ ]:
start_date = datetime.date(2024, 1, 1)

start_date - datetime.timedelta(days=start_date.weekday()) + datetime.timedelta(weeks=week)

In [ ]:
def get_week_range(year, week):
    start_date = datetime.date(year, 1, 1)
    print("🚀 ~ file: transactions_chart.ipynb:3 ~ start_date:", start_date)
    first_day = start_date - datetime.timedelta(days=start_date.weekday()) + datetime.timedelta(weeks=week)
    print("🚀 ~ file: transactions_chart.ipynb:5 ~ first_day:", first_day)
    last_day = first_day + datetime.timedelta(days=6)
    print("🚀 ~ file: transactions_chart.ipynb:7 ~ last_day:", last_day)

    return {
        "week": week,
        "range": f"{first_day.day}-{last_day.day}"
    }

def get_month_weeks(year, month):
    first_day = datetime.date(year, month, 1)
    last_day = first_day + datetime.timedelta(days=32) - datetime.timedelta(days=1)

    return [int(first_day.strftime("%W")), int(last_day.strftime("%W"))]

In [ ]:
month_ranges = {
    'week': [],
    'range': []
}

print("🚀 ~ file: transactions_chart.ipynb:7 ~ ombined_df.iloc[0]['date'].month:", combined_df.iloc[0]['date'].month)
week_start, week_end = get_month_weeks(2022, 9)
print("🚀 ~ file: transactions_chart.ipynb:7 ~ week_end:", week_end)
print("🚀 ~ file: transactions_chart.ipynb:7 ~ week_start:", week_start)

for i in range(week_start, week_end + 1):
    print(i, "i")
    data = get_week_range(2022, i)
    month_ranges['week'].append(data['week'])
    month_ranges['range'].append(data['range'])

month_df = pd.DataFrame(month_ranges)

In [ ]:
month_df

In [ ]:
total_month = month_df.merge(combined_df.groupby('week', as_index=False)['amount'].sum(), on='week', how='left').fillna(0)

# Incomes
month_df.merge(combined_df[combined_df['type'] == 'income'].groupby('week', as_index=False)['amount'].sum(), on='week', how='left').fillna(0)

# Expenses
month_df.merge(combined_df[combined_df['type'] == 'expense'].groupby('week', as_index=False)['amount'].sum(), on='week', how='left').fillna(0)
expenses['amount'].abs()

In [ ]:
total_month

In [ ]:
transfers_chart_month = {
    "series": [
    {
        "name": "Total",
        "data": total_month['amount'].tolist()
    }
    # same with incomes and expenses
    ],
    "xAxis": total_month['range'].tolist()
}

transfers_chart_month

---
## Week

In [ ]:
all_days = pd.DataFrame({'day_of_week': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']})

all_days

In [ ]:
# This is the total
total_week = all_days.merge(combined_df.groupby('day_of_week', as_index=False)['amount'].sum(), on='day_of_week', how='left').fillna(0)

# Incomes
all_days.merge(combined_df[combined_df['type'] == 'income'].groupby('day_of_week', as_index=False)['amount'].sum(), on='day_of_week', how='left').fillna(0)

# Expenses
all_days.merge(combined_df[combined_df['type'] == 'expense'].groupby('day_of_week', as_index=False)['amount'].sum(), on='day_of_week', how='left').fillna(0)
expenses['amount'].abs()

In [ ]:
transfers_chart_week = {
    "series": [
    {
        "name": "Total",
        "data": total_week['amount'].tolist()
    }
    # same with incomes and expenses
    ],
    "xAxis": all_days['day_of_week'].tolist()
}

transfers_chart_week

---
## Date or Range

In [ ]:
date_total = combined_df.groupby('date', as_index=False)['amount'].sum()
date_incomes = combined_df[combined_df['type'] == 'income'].groupby('date', as_index=False)['amount'].sum()
date_expenses = combined_df[combined_df['type'] == 'expense'].groupby('date', as_index=False)['amount'].sum()

date_expenses['amount'] = date_expenses['amount'].abs()

# convert datetime to string YYYY-MM-DD
date_total['date'] = date_total['date'].dt.strftime('%Y-%m-%d')
date_incomes['date'] = date_incomes['date'].dt.strftime('%Y-%m-%d')
date_expenses['date'] = date_expenses['date'].dt.strftime('%Y-%m-%d')

In [ ]:
transfers_chart_date = {
    "series": [
    {
        "name": "Total",
        "data": date_total['amount'].tolist()
    }
    # same with incomes and expenses
    ],
    "xAxis": date_total['date'].tolist()
}

transfers_chart_date